* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:white; 
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:black;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
    background-color:cadetblue;
    color: black;
    padding-left: 50px;
    
}

.headernav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }


.headernav ul li {
    display: inline-block;
    margin-left: 25px;

}

.headernav a {
    color:cadetblue;
    text-decoration: underline;
    font-weight: bolder;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/hero1.jpg");
    background-size: cover;
    background-position: center;
}

.hero h2 {
    /* background-color:cadetblue; */
    color: black;
    margin: 200px;
    position: relative;
    float: right;
    background-color:cadetblue;
    font-size: 32px;
}

.aisde {
    border:solid;color:black;
    margin-right: 20px;
    padding: 20px; 
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aboutme {
    content: "";
    display: flexbox;
    clear: both;
    color: #ffffff;  
    /* border-style: solid;
    border-color: white; */
    padding-left: 100px;
    /* background-color: white; */
    padding-top: 0px;
    width: 15%;
    float: left;
    /* height: 300px; only for demonstration, should be removed */
    padding: 20px;
    text-align: right;
    }

.aboutme h2 {
    color:rgb(7, 7, 66);
    font-size: 48px;
    /* text-align: left; */
    } 

.aboutmecontent {
    /* border:solid;color:black; */
    width: 80%;
    float: left;
    padding: 30px;
    width: 70%;
    /* background-color: #f1f1f1; */
    /* height: 300px; */
} 

section {
    border: dotted;
    border-color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
    /* background-color: #f1f1f1; */
    height: 300px; /* only for demonstration, should be removed 
}


.work {
    content: "";
    display: flexbox;
    clear: both;
    color: #ffffff;  
    /* border-style: solid;
    border-color: white; */
    padding-left: 100px;
    /* background-color: white; */
    padding-top: 0px;
    width: 15%;
    float: left;
    /* height: 300px; only for demonstration, should be removed */
    padding: 20px;
    text-align: right;
    }

.work h2 {
    color:rgb(7, 7, 66);
    font-size: 48px;
    /* text-align: left; */
    } 

.workcontent {
    /* border:solid;color:black; */
    width: 80%;
    float: left;
    padding: 30px;
    width: 70%;
    /* background-color: #f1f1f1; */
    /* height: 300px; */
} 

.workcontent img {
width: 100%;
height: 400px;
} 

.work2 {
    content: "";
    display: flexbox;
    clear: both;
    /* color: #ffffff;   */
    /* border-style: solid;
    border-color: white; */
    padding-left: 100px;
    /* background-color: white; */
    padding-top: 0px;
    width: 50%;
    float:inline-end ;
    /* height: 300px; only for demonstration, should be removed */
    padding: 20px;
    text-align: right;
    }
.workcontent2 {
    /* border:solid;color:black; */
    width: 80%;
    float: inline-end;
    padding: 30px;
    padding-bottom: 100px;
    margin-left: 285px;
    width: 50%;
    /* background-color: #f1f1f1; */
    /* height: 300px; */
} 

.workcontent2 img {
width: 100%;
height: 400px;
} 