* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:whitesmoke;
}

/* class for icon images in the bottom of the page*/
#slogan {
    background-color:white;
    color:chocolate;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.icons {
    width: 25px;
    height: 25px;
}

/* class for app sample images*/
.app-images {
    width: auto;
    height: auto;
    float: left;
    margin-right: 15px;
}
/*adding background color and padding to all app titles*/
.app-titles {
    background-color:cadetblue;
    padding-left: 15px;
    font-weight: bold;
}

/*The next 5 selectors pertain to the header section containing styles for the header div with the site title,the h1 used for title, the headernav class for navigation menus and the header li items and finally the anchor tags on those nav menu items*/
header {
    padding: 20px;
    background-color:black;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
    background-color:cadetblue;
    color: black;
    padding-left: 50px;
    
}

.headernav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }


.headernav ul li {
    display: inline-block;
    margin-left: 25px;

}

.headernav a {
    color:cadetblue;
    text-decoration: underline;
    font-weight: bolder;
}

/*The next 2 selectors pertain to the hero section including styling for the hero image and the h2 subtitle*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero2.jpg");
    height: 300px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
    
}

.hero h2 {
    /* background-color:cadetblue; */
    color: black;
    margin: 200px;
    position: relative;
    float: right;
    background-color:cadetblue;
    font-size: 32px;
}

