* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:whitesmoke;
}

/* class for icon images in the bottom of the page*/
.icons {
    width: 25px;
    height: 25px;
}
/*The next 5 selectors pertain to the header section containing styles for the header div with the site title,the h1 used for title, the headernav class for navigation menus and the header li items and finally the anchor tags on those nav menu items*/
header {
    padding: 20px;
    background-color:black;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
    background-color:cadetblue;
    color: black;
    padding-left: 50px;
    
}

.headernav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    }


.headernav ul li {
    display: inline-block;
    margin-left: 25px;

}

.headernav a {
    color:cadetblue;
    text-decoration: underline;
    font-weight: bolder;
}

/*The next 2 selectors pertain to the hero section including styling for the hero image and the h2 subtitle*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero2.jpg");
    height: 300px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
    
}

.hero h2 {
    /* background-color:cadetblue; */
    color: black;
    margin: 200px;
    position: relative;
    float: right;
    background-color:cadetblue;
    font-size: 32px;
}

/*The next 5 selectors pertain to the first grid container. For each of the 3 containers on page, I created three classes for entire container, the sidebar, and main section*/

.gridcontainer1 {
    display: grid;
    grid-template-columns: 20% 80% ;
    width: 100%;
    margin-top: 0px;
    /* border:solid; */
    /* border: solid;color:black; */
}

.gridsidebar1 {
    /* background-color: brown; */
    color: rgb(55, 55, 94);
    font-size: 32px;
    text-align: right;
    /* float: right; */
    margin-right: 25px;
    margin-bottom: 40px;
    padding-right: 10px;
    border-right: rgb(55, 55, 94);
    border-bottom: whitesmoke;
    border-top: whitesmoke;
    border-left: whitesmoke;
    border-style: solid;
}

.gridmain1 {
   /* color:blue; */
   font-size: large;
   margin-right: 25px;
   margin-bottom: 25px;
   /* height: 100%;
   width: 100%; */
   
}

.gridmain1 h2 {
    color: black;
    position: relative;
    font-size: 32px;
    margin: 200px;
    left:0;
    width: 100%;
    text-align: end;
    
}

.gridmain1 img {
    /* height: 50%; */
    width: 100%;
    height: 400px;
    border:cadetblue;
    border-style: solid;
    border-width: 5px;
    
}

/*The next 5 selectors pertain to the second grid container. For each of the 3 containers on page, I created three classes for entire container, the sidebar, and main section plus selectors for image and h2*/
.gridcontainer2 {
    display: grid;
    grid-template-columns: 20% 40% 40%  ;
    width: 100%;
    /* border: solid;color:black; */
}


.gridsidebar2 {
    /* background-color: brown; */
    color: darkblue;
    font-size: 32px;
    text-align: right;
    /* float: right; */
    margin-right: 25px;
    margin-bottom: 40px;
    border-right: rgb(55, 55, 94);
    border-bottom: whitesmoke;
    border-top: whitesmoke;
    border-left: whitesmoke;
    border-style: solid;
    }

.gridmain2 {
   /* color:blue; */
   font-size: medium;
   margin-right: 25px;
   margin-bottom: 40px;
   position: relative;
   text-align: center;
}

.gridmain2 h2 {
    display: inline-block;
    font-size: 48px;
    background-color:cadetblue;
    color: black;
    padding-left: 50px;  
    /* margin: 200px; */
    position: relative;
    /*float: right; */
}

.gridcontainer2 img {
    width: 100%;
    height: 250px;
    border:cadetblue;
    border-style: solid;
    border-width: 5px;
}

/*The next 5 selectors pertain to the third grid container. For each of the 3 containers on page, I created three classes for entire container, the sidebar, and main section plus selectors for image and no h2 since none were used */
.gridcontainer3 {
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 15% ;
    width: 100%;
    /* border: solid;color:black; */
}

.gridmain3    {
    text-align: center;
    padding-top: 50px;
    font-size: x-large;
}

.gridsidebar3 {
    /* background-color: brown; */
    color: rgb(55, 55, 94);
    font-size: 32px;
    text-align: right;
    /* float: right; */
    margin-right: 25px;
    margin-bottom: 40px;
    padding-right: 10px;
    border-right: rgb(55, 55, 94);
    border-bottom: whitesmoke;
    border-top: whitesmoke;
    border-left: whitesmoke;
    border-style: solid;
}

.gridcontainer3 img {
    width: 100%;
    height: 250px;
}

/*the bottom left container styles the subtitles on the 4 small apps*/
.bottomleft {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 28px;
    background-color: cadetblue;
    color: white;
  }

  /*the bottom right container styles the subtitles on the 1 large app*/
  .bottomright  {
    position: relative;
    top: 150px;
    bottom: auto;
    left: 100px;
    right: 10px;
    width: 10%;
    font-size: 28px;
    background-color: cadetblue;
    color: white;
  }

/*Responsive Design section*/
  /* On screens that are 992px wide or less, retain the 100% width */
@media screen and (max-width: 992px) {
    .gridcontainer1, .gridcontainer2 , .gridcontainer3 ,.gridmain1 , .gridmain2 , .gridmain3 ,.gridsidebar1 , .gridsidebar2 ,.gridsidebar3 {
      width: 100%;
    }
  }
  
  /* On screens that are 600px wide or less, reduce font size */
  @media screen and (max-width: 600px) {
    .gridcontainer1, .gridcontainer2 , .gridcontainer3 ,.gridmain1 , .gridmain2 , .gridmain3 ,.gridsidebar1 , .gridsidebar2 ,.gridsidebar3 .bottomleft , .bottomright h3 {
        font-size: 12px;
        /* width: 25%; */
        /* display: grid;
        grid-template-columns: 0% 50% 50%  ; */
    }
  }

    /* On screens that are 600px wide or less, reduce font size on selected elements and adjust the grid template columns to hide the side bar and split the main grid into two equal sections */
    @media screen and (max-width: 600px) {
h1, h2 , h3 , h6, p {
            font-size: small;
            grid-template-columns: 0% 50% 50%;
        }
      }

    /* On screens that are 600px wide or less, reduce font size on paragraphs in the Contact section */
      @media screen and (max-width: 600px) {
        .gridmain3 p {
                    font-size: x-small;
                    text-align: justify;
                }
              }
    /* On screens that are 600px wide or less, adjust the hero section settings */
              @media screen and (max-width: 600px) {
              .hero h2 {
                /* background-color:cadetblue; */
                color: black;
                margin: 200px;
                position: relative;
                float: right;
                background-color:cadetblue;
                font-size: 12px;
            }
        }
/* On screens that are 600px wide or less, reduce font size on navigation menus */
        @media screen and (max-width: 600px) {
        .headernav {
            padding-top: 0px;
            margin-right: 20px;
            float: right;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 10px;
            }
        }